@import url(https://fonts.googleapis.com/css?family=Raleway:400,800,700,500,600,300,200);
#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a,
#cssmenu #menu-button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1.3;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu:after,
#cssmenu > ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu #menu-button {
  display: none;
}
#cssmenu {
  width: auto;
  font-family:'Raleway', sans-serif !important;
  line-height: 1;
}
#menu-line {
  position: absolute;
  top: 0;
  left: 0;
  height: 3px;
  background: #009ae1;
  -webkit-transition: all 0.25s ease-out;
  -moz-transition: all 0.25s ease-out;
  -ms-transition: all 0.25s ease-out;
  -o-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  display:none;
}
#cssmenu > ul > li {
  float: left;
  border-right:1px solid #ff7648;
}
#cssmenu.align-center > ul {
  font-size: 0;
  text-align: center;
}
#cssmenu.align-center > ul > li {
  display: inline-block;
  float: none;
}
#cssmenu.align-center ul ul {
  text-align: left;
}
#cssmenu.align-right > ul > li {
  float: right;
}
#cssmenu.align-right ul ul {
  text-align: right;
}
#cssmenu > ul > li > a {
  text-decoration: none;
  text-transform:uppercase;
  letter-spacing:0.15em;
  padding:5px 70px;
  font-size:18px;
  font-weight:700;
  color: #ffffff;
  font-family:'Raleway', sans-serif !important;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
    line-height:3.5;
}
#cssmenu > ul > li:hover > a
{
	color: #ffffff;
  text-decoration:none;
  background-color:#151a5e;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
    line-height:3.5;
}
#cssmenu > ul > li.active > a,
#cssmenu > ul > li.active:hover > a {
  color: #ffffff;
  text-decoration:none;
  background-color:#151a5e;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
    line-height:3.5;
}
/*#cssmenu > ul > li.has-sub > a {
  padding-right: 10px;
}
#cssmenu > ul > li.has-sub > a::after {
  position: absolute;
  top: 6px;
  right: -5px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #4adcbf;
  border-right: 1px solid #4adcbf;
  content: "";
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#cssmenu > ul > li.has-sub:hover > a::after {
  border-color: #fff;
}*/
#cssmenu ul ul {
  position: absolute;
  left: -9999px;
  z-index:999;
}
#cssmenu li:hover > ul {
  left: auto;
}
#cssmenu.align-right li:hover > ul {
  right: 0;
}
#cssmenu ul ul ul {
  margin-left: 100%;
  top: 0;
}
#cssmenu.align-right ul ul ul {
  margin-left: 0;
  margin-right: 100%;
}
#cssmenu ul ul li {
  height: 0;
  -webkit-transition: height .2s ease;
  -moz-transition: height .2s ease;
  -ms-transition: height .2s ease;
  -o-transition: height .2s ease;
  transition: height .2s ease;
}
#cssmenu ul li:hover > ul > li {
  height: 32px;
}
#cssmenu ul ul li
{
	border-bottom:none;
}
#cssmenu ul ul li a {
  padding: 10px 16px;
  width: 210px;
  font-size: 14px;
  background: #6e5c52;
  text-decoration: none;
  text-align:left;
  color: #fff;
  -webkit-transition: color .2s ease;
  -moz-transition: color .2s ease;
  -ms-transition: color .2s ease;
  -o-transition: color .2s ease;
  transition: color .2s ease;
}
#cssmenu ul ul li:hover > a,
#cssmenu ul ul li a:hover {
  color: #fff;
  background-color:#ac9186;
}
#cssmenu ul ul li.has-sub > a::after {
  position: absolute;
  top: 13px;
  right: 10px;
  width: 4px;
  height: 4px;
  border-bottom: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
  content: "";
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  transition: border-color 0.2s ease;
}
#cssmenu.align-right ul ul li.has-sub > a::after {
  right: auto;
  left: 10px;
  border-bottom: 0;
  border-right: 0;
  border-top: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
}
#cssmenu ul ul li.has-sub:hover > a::after {
  border-color: #ffffff;
}
@media all and (max-width: 799px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {
  #cssmenu {
    width: 100%;
  }
  #cssmenu ul {
    width: 100%;
    display: none;
    background:#fc5a0a;
  }
  #cssmenu.align-center > ul,
  #cssmenu.align-right ul ul {
    text-align: left;
  }
  #cssmenu ul li {
    width: 100%;
    height: auto;
    /*border-top: 1px solid rgba(120, 120, 120, 0.15);*/
  }
  #cssmenu ul ul li,
  #cssmenu ul li:hover > ul > li {
    width: 100%;
    height: auto;
	border-bottom: none;
  }
  #cssmenu > ul > li > a
  {
	  line-height:normal;
  }
  #cssmenu > ul > li:hover > a,
	#cssmenu > ul > li.active > a,
	#cssmenu > ul > li.active:hover > a {
  background:none;
    line-height:normal;
	color:#151a5e;
}
  #cssmenu ul li a,
  #cssmenu ul ul li a {
    width: 100%;
	text-align:left;
	padding:15px 20px;
	font-size:14px;
  }
  #cssmenu > ul > li,
  #cssmenu.align-center > ul > li,
  #cssmenu.align-right > ul > li {
    float: none;
    display: block;
	padding:0px;
	border-right:none;
	/*border-left: 1px solid rgba(120, 120, 120, 0.15);
	border-right: 1px solid rgba(120, 120, 120, 0.15);*/
  }
  #cssmenu > ul > li:last-child
  {
	  /*border-right: 1px solid rgba(120, 120, 120, 0.15);*/
  }
  #cssmenu ul ul li a {
    padding: 15px 20px 15px 20px;
    font-size: 14px;
    color: #33383d;
    background: none;
	border-top: none;
	border-bottom: none;
  }
  #cssmenu ul ul li:hover > a,
  #cssmenu ul ul li a:hover {
    color: #9b827d;
	background-color:transparent;
  }
  #cssmenu ul ul ul li a {
    padding-left: 40px;
  }
  #cssmenu ul ul,
  #cssmenu ul ul ul {
    position: relative;
    left: 0;
    right: auto;
    width: 100%;
    margin: 0;
  }
  #cssmenu > ul > li.has-sub > a::after,
  #cssmenu ul ul li.has-sub > a::after {
    display: none;
  }
  #menu-line {
    display: none;
  }
  #cssmenu #menu-button {
    display: block;
	margin:0px 0px 0px;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
	text-align:left;
    text-transform: uppercase;
	background-color:#fc5a0a;
  }
  #cssmenu #menu-button::after {
    content: '';
    position: absolute;
    top: 22px;
    right: 20px;
    display: block;
    width: 15px;
    height: 2px;
    background: #fff;
  }
  #cssmenu #menu-button::before {
    content: '';
    position: absolute;
    top: 12px;
    right: 20px;
    display: block;
    width: 15px;
    height: 3px;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
  }
  #cssmenu .submenu-button {
    position: absolute;
    z-index: 10;
    right: 0;
    top: 0;
    display: block;
    /*border-left: 1px solid rgba(120, 120, 120, 0.15);*/
    height: 48px;
    width: 52px;
    cursor: pointer;
  }
  #cssmenu .submenu-button::after {
    content: '';
    position: absolute;
    top: 17px;
    left: 26px;
    display: block;
    width: 1px;
    height: 11px;
    background: #9b827d;
    z-index: 99;
  }
  #cssmenu .submenu-button::before {
    content: '';
    position: absolute;
    left: 21px;
    top: 22px;
    display: block;
    width: 11px;
    height: 1px;
    background: #9b827d;
    z-index: 99;
  }
  #cssmenu .submenu-button.submenu-opened:after {
    display: none;
  }
}
/*------------------------------------*\
-------- DEMO Code: accordion
\*------------------------------------*/
/*----- Accordion -----*/
.accordion, .accordion * {
	-webkit-box-sizing:border-box; 
	-moz-box-sizing:border-box; 
	box-sizing:border-box;
}

.accordion {
	overflow:hidden;
	width: 100%;
}
.accordion-section
{
	box-shadow:0px 1px 3px rgba(0,0,0,0.10);
	border:1px solid #c0c0c0;
	border-radius:3px;
	background:#151a5e;
	overflow:hidden;
	width:100%;
	/*margin:0px 0px 15px;*/
}

/*----- Section Titles -----*/
.accordion-section-title {
	width:100%;
	padding:15px;
	display:inline-block;
	background:#151a5e;
	transition:all linear 0.15s;
	/* Type */
	/*text-shadow:0px 1px 0px #1a1a1a;*/
	color:#fff;
	cursor:pointer;
	background-image:url("../images/home_text_banner_bg.png");
	background-position:right center;
	background-repeat:no-repeat;
}

.accordion-section-title.active, .accordion-section-title:hover {
	background:#151a5e;
	/* Type */
	text-decoration:none;
	background-image:url("../images/home_text_banner_bg.png");
	background-position:right center;
	background-repeat:no-repeat;
}

/*.accordion-section:last-child .accordion-section-title {
	border-bottom:none;
}*/

/*----- Section Content -----*/
.accordion-section-content {
	background-image:url("../images/bg.png");
	background-position:right top;
	background-repeat:no-repeat;
	padding:0px 15px 20px;
	border-top:1px dotted #ffffff;
	display:none;
}