/********************************
*	Creative eWorld StyleSheet  *
********************************/


/************
*
*	Links
*
*************/
P {
	MARGIN-BOTTOM: 5px;
	MARGIN-TOP: 0px;
	padding: 0px;
}

a
{
	color: #0B315E;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
}

a:link
{
	color: #0B315E;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
}

a:hover
{
	color: #476DB8;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	text-decoration: none;
}

a:active
{
	color: #0B315E;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
}

/************
*
*	Body & Table
*
*************/

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	font-family: Verdana;
	scrollbar-face-color: #cfcfcf;
	scrollbar-highlight-color: #ffffff;
	scrollbar-shadow-color: #595959;
	scrollbar-3Dlight-color: #595959;
	scrollbar-arrow-color: #ffffff;
	scrollbar-darkshadow-Color: #ffffff;
	scrollbar-base-color: #cfcfcf;
	font-size: 10px;
	color: 7D7D7D;
}

td
{
	font-family: Verdana;
}

.uctable
{
}


/************
*
*	Products List
*
*************/

.cartgdheader
{
	/* Cart Grid Header */
	background-color: #092E75;
	color: #FFFFFF;
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	padding-left: 5px;
}

.cartgditem
{
	/* Cart Grid Item */
	color: #666666;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
}

.cartgdaltitem
{
	/* Cart Grid Alternate Item */
	background: #E6E7E6;
	color: #666666;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
}

.pagelinkactive
{
	font-family: Verdana;
	font-size: 10px;
	color: #8C836D;
	text-decoration: none;
	padding-right: 6px;
	padding-left: 6px;
	background-color: #D8D8D8;
}

.pagelinktext
{
	font-family: Verdana;
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
	background-color: #092E75;
	padding-left: 8px;
	padding-right: 8px;
}

/************
*
*	Product Details
*
*************/

.producttitle
{
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	text-decoration: none;
	text-transform: none;
	color: #375C9B;
	padding-left: 4px;
	height: 17px;
	margin-top: 0px;
	margin-bottom: 0px;
	background-color: #F2EEE6;
}

.producttitlebig
{
	background-color: #808080;
	color: #FFFFFF;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.productSpec {
	font-family: Verdana;
	font-size: 9px;
	text-decoration: none;
	text-transform: none;
	color: #3B6DA8;
}

/************
*
*	Common
*
*************/

.bodytxt
{
	font-family: Verdana;
	font-size: 10px;
	color: 7D7D7D;
	text-decoration: none;
}

.welmembertext
{
	/* Welcome Back Member Text */
	font-family: Verdana;
	font-size: 11px;
	color: #144E88;
	text-decoration: none;
}

.errmsg
{
	font-family: Verdana;
	font-size: 10px;	
	color:#CC0000;
}

.footer
{
	font-family: Verdana;
	font-size: 10px;
	color: #858585;
	text-decoration: none;
}

.formheader
{
	background-color: #092E75;
	color: #FFFFFF;
	font-family: Verdana;
	font-size: 10px;
	font-weight: bold;
	padding-left: 5px;
}

.formsubheader
{
	background-color: #666666;
	color: #FFFFFF;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
}

.forminput
{
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
	color: #666666;
}

.formtitle
{
	color: #666666;
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
}

.pageheader
{
	font-family: Verdana;
	font-size: 11px;
	text-decoration: none;
	color: #FFFFFF;
	text-transform: none;
	padding-left: 8px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.pageheadertd
{
	height: 30px;
	background-color: whitesmoke;
}

.pageheadersub
{
	/* Use For Product Subcategory */
	color: #96060C;
	font-family: Verdana;
	font-size: 11px;
	font-weight: bold;
}

/************
*
*	Menu
*
*************/

.navibargroup
{
	font-family: Verdana;
	font-size: 10px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: -1px;
	font-weight: bold;
	width: 100%;
}

.navibaritem
{
	font-family: Verdana;
	font-size: 10px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	width: 100%;
	padding-right: 6px;
	padding-left: 6px;
}

.navibaritem:link
{
	font-family: Verdana;
	font-size: 10px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	width: 100%;
	padding-right: 6px;
	padding-left: 6px;
}

.navibaritem:visited
{
	font-family: Verdana;
	font-size: 10px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	width: 100%;
	padding-right: 6px;
	padding-left: 6px;
}

.navibaritem:active
{
	font-family: Verdana;
	font-size: 10px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	width: 100%;
	padding-right: 6px;
	padding-left: 6px;
}

.navibaritem:hover
{
	font-family: Verdana;
	font-size: 10px;
	color: #FFFFFF;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
	background-color: #6A95CA;
	width: 100%;
	padding-right: 6px;
	padding-left: 6px;
	height: 22px;
	vertical-align: middle;
	line-height: 22px;
}


.navibarchilditem
{
	background-color: #EEEEEE;
	border: 1px solid #666666;
	color: #666666;
	cursor: hand;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	padding: 3 6;
}


/************
*
*	Programmers Extra
*
*************/



/************
*
*	Designers Extra
*
*************/

.searchbox {
	font-family: Verdana;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
	color: #666666;
}

.btnBox {
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 9px;
	background-color: #84AEDE;
	border: 1px solid #2F5691;
	color: #FFFFFF;
	font-weight: bold;
}

.dottedBgHori {
	background-image: url(images/dot.gif);
	background-repeat: repeat-x;
	background-position: 100%;
}

.paneltxt {
	font-family: Verdana;
	font-size: 12px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
}

.priceTxt {
	font-size: 10px;
	font-weight: bold;
	color: BB1022;
}

.outlinerProducts {
	padding: 3px;
	border: 1px solid #CCCCCC;
}


.outlinerProducts {
	border: 1px solid #CCCCCC;
	padding: 3px;
	margin: 0px;
	padding: 0px;
	margin: 0px;
	padding: 1px;
}
hr {
	height: 1px;
	color: #CCCCCC;
	
}
.leftLine {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #CCCCCC;
}
.pageheadersubL2 {
	font-family: Verdana;
	font-size: 11px;
	color: #386396;
	text-decoration: none;
	font-weight: bold;
}
.bodytxtBold {
	font-family: Verdana;
	font-size: 10px;
	color: #67AFDF;
	text-decoration: none;
	font-weight: bold;
}
.dottedBgVer {
	background-image: url(images/dot.gif);
	background-repeat: repeat-y;
	background-position: center;
	padding-right: 6px;
	padding-left: 6px;
}
